body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  background-color: antiquewhite;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 50vh;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.section-boll {
  background-color: purple;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.content {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "first second"
    "third fourth";
}

.box {
  min-height: 20vh;
  width: 100%;
  border-radius: 12px;
}

.box.first-box {
  grid-area: first;
  background-color: fuchsia;
}

.box.second-box {
  grid-area: second;
  background-color: pink;
}

.box.third-box {
  grid-area: third;
  background-color: pink;
}

.box.fourth-box {
  grid-area: fourth;
  background-color: fuchsia;
}

.bottom-box {
  background-color: hotpink;
  border: none;
  border-radius: 12px;
  height: 2.5rem;
  width: 30vw;
  align-self: center;
}

.footer {
  background-color: rgb(129, 157, 129);
  width: 100vw;
  min-height: 10vh;
}

@media screen and (max-width:600px) {

  header {
    justify-content: center;
  }


  .box {
    min-height: 10vh;
    width: 100%;
    border-radius: 12px;
  }

  main {
    .content {
      grid-template-areas:
        "first"
        "second"
        "fourth"
        "third";
    }
  }
}